{
    "ws" : "wss://ws.golos.io",
    "chain_id" : "782a3039b478c839e4cb0c941ff4eaeb7df40bdd68bd441afd444b9da763de12",
    "user" : {
        "userid" : "torgobot",
        "key" : "5K",
        "base" : { "asset" : "GBG", "min_amount" : 0.001 },
        "quote" : { "asset" : "GOLOS", "min_amount" : 0.001 }
        "strategy" : {
            "name" : "wave-farm",
            "bid_percent" : 3,
            "bid_max_amount" : 30,
            "ask_percent" : 3,
            "ask_max_amount" : 30
        }
    },
    "telegram" : {
        "token" : "333",
        "chatid" : 1,
        "send_messages" : {
            "empty_balance" : true,
            "balance" : true,
            "top_prices" : true,
            "desired_prices" : true,
            "open_orders" : true,
            "create_order" : true,
            "changed_desired" : true,
            "filled" : true
        }
    }
}